.title {
  text-align: center;
  font-size: 50px
}

.searchbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 50px
}

.robots-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}
